#root {
  border-top: 3px solid #686668;
  font-family: Arial;
  margin: 15px 0 0 0;
  width: 370px;
}

.company-name-row {
  width: 26%;
}

.company-name,
.change,
.latest-price {
  font-family: Times;
  font-weight: lighter;
}

.company-name {
  color: #5a6b7c;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1.4px;
  margin: 11px 0 15px 0;
  text-transform: uppercase;
}

.quote-row {
  border-bottom: 1px solid #d9dad9;
  padding: 0 2% 0 1.5%
}

.latest-price,
.change-neg,
.change-pos,
.tag,
.value {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 50%;
}

.latest-price {
  font-size: 20px;
}


.change {
  font-size: 17px;
  text-align: right;
}

.change-neg {
  color: red;
}

.change-pos {
  color: #59b368;
}

.tag {
  color: #79797b;
  font-size: 11px;
}

.value {
  font-size: 13px;
  font-weight: 600;
  text-align: right;
}

.last-updated {
  color: #a4a6ac;
  font-size: 11px;
  margin-bottom: 9px;
  margin-top: 9px;
  text-align: right;
}

.input-form {
  padding-top: 5px;
}

.input,
.submit {
  border: 1.5px solid #eeefee;
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 48%;
}

.input {
  border-radius: 5px 0 0 5px;
  margin-right: 1%;
}

.submit {
  background: repeating-linear-gradient(
    to bottom,
    #ffffff,
    #ffffff 5px,
    #fffbff 5px,
    #fffbff 10px,
    #f7f7f7 10px,
    #f7f7f7 15px,
    #f7f3f7 15px,
    #f7f3f7 20px,
    #efefef 20px,
    #efefef 26px
  );
  border-radius: 0 5px 5px 0;
}


.error {
  color: red;
  position: fixed;
}

.symbolList {
  border: 1px solid #d9dad9;
  font-family: Times;
  margin-top: 50px;
  position: fixed;
  text-align: center;
  width: 150px;
}

.symbolList > h4 {
  color: #5a6b7c;
  margin-top: 11px;
}

.symbols > ul {
  font-size: 11px;
  font-weight: bold;
  list-style: none;
}

.symbols1,
.symbols2,
.symbols3 {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 0;
  width: 30%;
}



